/.cache/
/.extension/
/.general'.~undo-tree~
/.lsp-session-v1
/auto-save-list/
/auto-saves/
/eln-cache/
/elpy/
/eshell/
/forge-database.sqlite
/projectile-bookmarks.eld
/projectile.cache
/projects
/smex-items
/st-bk/
/straight/
/tramp
/transient/
/url/
/var/
/elpa/
